@import "~@fortawesome/fontawesome-free/css/all.css";

body, html {
    padding: 0;
    margin: 0;
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
}

.bg-blue{
    background: rgba(21, 48, 98, 0.25);
}

.content{
    height: 100vh;
}

header{
    height: auto;

    .container{
        padding: 0 10rem;
        height: auto;

        .row{
            top: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            nav, .nav{
                width: 60%;
                position: relative;
                font-size: 1.5rem;
                color: #eee;
                display: flex;
            }
                .menu{
                    margin-top: 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                    cursor: pointer;
                    margin-left: 1rem;


                    .menu-list{
                        list-style-type: none;
                        padding: 0 1rem;
                        display: inline;
                        text-decoration: none;
                        color: black;
                        font-size: .8rem;
                        
                        a{
                            text-decoration: none;
                            color: black;
                            font-size: .8rem;

                            i::before{
                                font-size: .6rem
                            }
                        }

                        
                    }


                }
            
        }
    }    
}


.search-box {
    width: 60%;


    .icon {
        padding: .8rem;
        color: #BEBFC2;
        position: absolute;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        border-radius: 40px;
        height: 40px;
        background-color: inherit;
        border: 1px solid #BEBFC2;
    }
    
    .input-field::placeholder{
        padding-left: 2rem;
    }
    
}


.mrgl-1{
    margin-left: 1rem;
}

.basket-box{
    border-radius: 40px;
    height: 40px;
    background-color: inherit;
    border: 1px solid #BEBFC2;
    position: relative;
    width: 11rem;

    .basket-info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
    
}

.login-box{
    display: flex;

    span{
        margin-left: .3rem;
    }
}


.sub-menu{
    height: 40vh;
    width: 60vw;
    flex-wrap: wrap;
    z-index: 100000;
    position: absolute;
    top: 100%;
    justify-content: center;
    margin-top: 5px;
    
        h4{
            display: inline;
            color: rgba(21, 48, 98, 1);
            font-weight: 700;
        }    

        .menu-item{
            width: 10rem;
            display: inline-block;
            vertical-align: text-top;
            margin-top: 1rem;
            list-style-type: none;
        }


        li{
            color: rgba(21, 48, 98, 1);
            margin-top: .5rem;
        }
}

.menu-item-custom {
    display: none;
    transition-duration: .3s;
    transition-property: opacity,visibility;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    ;
}

li>ul{
    display: none;
}


.nav{
    display: block;

    ul>li.open>ul{
        display: block;
        padding-inline-start: unset;
    }
    ul>li>ul{
        display: none;
    }
}

.open>p{
    text-align: center;
    color: rgba(153, 153, 153, 1);
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 1rem;
}

.open>p>i{
float:left !important;
transform: rotate(180deg);

}


.collapsed{
    display:none;
}

.hide{
    display:none;
}

.open{

    display: block;

}

.divider{
    position: static;
    width: 1680px;
    height: 1px;
    left: 0px;
    top: 72px;
    /* Secondary/Color 3 */
    background: #EAEAEA;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.mobile-header{
    display: none;
}



@media (max-width: 920px){
    .mobile-header{
        display: block;
        margin-top: 34px;
    }   

    .desktop-header{
        display: none;
    }

    header{
        .container{
            padding: unset;
        }
    }

    .content{
        height: 0;
    }

    .login-box{
        padding-left: 3rem;
    }

    .search-box{
        width: 90%;
        margin: 1rem auto;
    }

    .basket-box{
        width: 5.5rem;
        height: 2rem;
    }

    .menu-button {
        margin: 0 .6rem;
    }

    header .container .row {
        justify-content: unset;
    }

    .logo-inline{
        width: 40%;
    }

    .menu{

        padding-inline-start: .6rem;
        
        .menu-list{
            list-style-type: none;
            margin: .5rem 0;
            border-bottom: 1px solid #EAEAEA;
            width: 95vw;
            
            i{
                float:right;

            }
        }

        .pad-1{
              padding:1rem;  
        }
    }
    .sub-menu{
        padding-inline-start: unset;
        top: unset;
    }
}

	



